/* STYLES TOPBAR */
.topbar {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.contact-header {
    display: flex;
    text-align: left;
}

.contact-header p {
    color: var(--secondary-color);
    margin-right: 10px;
}

.contact-header i {
    color: var(--primary-color);
    transition: .2s;
    cursor: pointer;
}

.social-medias-header {
    text-align: right;
}

.social-medias-header i:hover {
    color: var(--dark);
}

.social-medias-header i {
    color: var(--secondary-color);
    margin-right: 10px;
}

/* STYLE NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.nav-item {
    display: inline-block;
    font-size: 1rem;
    margin-right: 35px;
}

.nav-item button {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    border-color: transparent;
    cursor: pointer;
    transition: .2s;
    font-size: 0.8rem;
    font-weight: 700;
}

.nav-item button:hover {
    background-color: #212529;
}

.nav-item a {
    color: var(--secondary-color);
    transition: .4s;
    font-weight: 400;
}

.nav-item a:hover {
    color: #212529;
}

.input-search {
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 6px;
}

.search-box i {
    position: absolute;
    padding: 1rem;
    color: var(--primary-color);
}

/* HERO SECTION */

.hero-section {
    position: relative;
    line-height: 40px;
    background-image: url('../Images/bg_image_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.hero-section h6 {
    font-size: 1rem;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.btn-banner {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    border-color: transparent;
    cursor: pointer;
    transition: .2s;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn-banner:hover {
    background-color:#212529;
}

/* CARD SERVICES */
.card-service {
    display: flex;
    margin-bottom: 4rem;
}

.card {
    position: relative;
    width: 20%;
    height: 100px;
    background-color: var(--white);
    border: none;
    padding: 1.5rem;
    margin-top: -8rem;
    box-shadow: 0 2px 6px rgb(154 159 151 / 20%);
    border-radius: 7px;
}

.card i {
    border-radius: 50%!important;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--white);
    height: auto;
}

.card > i , p {
    display: inline-block;
    text-align: center;
}

.card p {
    position: absolute;
    right: 0;
    top: 37px;
    margin-right: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.blue i {
    background-color: #4E5AFE;
}

.green i {
    background-color: #00D9A5 ;
}

.pink i {
    background-color: #FF3D85;
}

/* SECTION HEALTH CENTER */
.health-center-section {
    display: flex;
    margin-bottom: 6rem;
}

.image-health-center {
    width: 300px;
    height: 400px;
}

.description-health-center {
    width: 50%;
    text-align: right;
    padding: 2rem;
}

.description-health-center h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description-health-center p {
    font-size: 1rem;
    color: #6E807A;
    text-align: right;
    line-height: 22px;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    border-color: transparent;
    cursor: pointer;
    transition: .2s;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn:hover {
    background-color: #212529;
}

/* OUR DOCTORS */

.title-section-doctors {
    text-align: center;
    font-size: 2rem;
    color: #222;
    margin-bottom: 1.5rem;
}

.profiles {
    display: flex; 
    text-align: center;
    margin-bottom: 5rem;
}

.team img {
    width: 55%;
    height:  auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.team p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.team span {
    font-size: 15px;
    color: var(--secondary-color);
}

