@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.ttf');
}

body , button , input , span {
    font-family: Vazir , Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.app {
    width: 1200px;
}

:root {
    --primary-color: #00D9A5 ;
    --secondary-color: rgba(110, 128, 122, 0.8);
    --blue: #4E5AFE;
    --white: #fff;
    --dark: #444;
    --footer-color: #2D3B38;
}

a {
    text-decoration: none;
    color: var(--dark);
}












